<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>じゃんけん脳トレ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='janken_notore/janken.css') }}">
</head>
<body onload="make_question()">
  <h1 id="remaining_time"></h1>
  <h1 id="question_text"></h1>
  <button id="hand1"></button>
  <button id="hand2"></button>
  <div id="log1"></div>
  <div id="log2"></div>
  <script defer src="{{ url_for('static', filename='janken_notore/janken_play.js') }}"></script>
  <form action="/janken/result/" method="post" name="result">
    <input class="hide" type="number" id="OK_times" name="OK_times">
    <input class="hide" type="number" id="NG_times" name="NG_times">
    <input class="hide" type="submit">
  </form>
</body>
</html>