body{
  background-color: rgb(248, 248, 125)
}

/* 残り時間 */
#remaining_time{
  color:rgba(0, 0, 0, 0.781);
  filter: drop-shadow(0 0 0.75rem grey);
  font-size: 48px;
  margin-left: 70px;
  margin-top: 60px;
}

/* 問題文 */
#question_text{
  filter: drop-shadow(0 0 0.75rem grey);
  text-align: center;
  font-weight: bold;
}

/* 「どっちが勝ち?」、「どっちが負け？」の表示  */
.question_text{
  text-align: center;
}

/* フォームの送信ボタンや入力欄を非表示にするためのクラス */
.hide{
  /* 表示を非表示にする */
  visibility:hidden;
}

/* ポイント数を表示する吹き出し */
.hukidashi{
  width: 200px;
  height: auto;
  filter: drop-shadow(0 0 0.75rem grey);
}

/* ポイントのリアルタイム表示 */
.nowPoint{
  margin-top: 70px;
  margin-left: -145px;
  font-size: 30px;
}

/* ２つのじゃんけんの手を横並びにするために作成したクラス */
.box{
  /* 子要素を横並びにする */
  display: flex;
  /* アイテムを中央に寄せる  */
  justify-content: center;
  align-items: center;
  vertical-align:middle;
}

/* 右のじゃんけんの手 */
#hand1{
  box-shadow: 0 2px 0;
  display: block;
}
/* 左のじゃんけんの手 */
#hand2{
  margin-left: 40px;
  box-shadow: 0 2px 0;
  display: block;
}

/* 右側のじゃんけんの手が押されたら */
#hand1:active {
  /*影をけす*/
  box-shadow: none;
  /*ボタンを下に移動*/
  position: relative;
  left:2px;
}

/* 右側のじゃんけんの手がフォーカスされたら */
#hand1:focus {
	outline:0;
}

/* 左側のじゃんけんの手が押されたら */
#hand2:active {
  /*影をけす*/
  box-shadow: none;
  /*ボタンを下*/
  position: relative;
  left:2px;
}

/* 左側のじゃんけんの手がフォーカスされたら */
#hand2:focus {
  outline:0;
}

