<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ウェブゲーム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
</head>

<body>
    <header>
        <h1>
            <a href="/">ウェブゲーム</a>
        </h1>
        <nav class="pc-nav">
            <ul>
            </ul>
        </nav>
    </header>
    <div class="main-visual">
        <div class="form-wrapper">
            <h1>アカウント情報の確認</h1>
            <form action="/add_account" method="POST">
                <div class="form-item">
                    <h3>ニックネーム : 「{{name}}」</h3>
                    {{name_input}}
                </div>
                <div class="form-item">
                    <h3>メールアドレス : 「{{id}}」</h3>
                    {{id_input}}
                </div>
                <div class="form-item">
                    <h3>パスワード : 「{{pas}}」</h3>
                    {{pas_input}}
                </div>
                <div class="button-panel">
                    <input type="submit" class="button" title="Confirm Account" value="確認して作成"></input>
                </div>
            </form>
            <div class="form-footer">
                <p><a href="/">間違っている場合</a></p>
            </div>
        </div>
    </div>
</body>

</html>