<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ウェブゲーム(仮)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
</head>

<body>
    <header>
        <h1>
            <a href="/">ウェブゲーム(仮)</a>
        </h1>
        <nav class="pc-nav">
            <ul>
            </ul>
        </nav>
    </header>
    <div class="main-visual">
        <div class="form-wrapper">
            <h1>新規アカウント作成</h1>
            <h3 class="error">{{err}}</h3>
            <form>
                <div class="form-item">
                    <label for="email"></label>
                    <input type="text" name="nickname" required="required" placeholder="ニックネーム"></input>
                </div>
                <div class="form-item">
                    <label for="email"></label>
                    <input type="email" name="email" required="required" placeholder="メールアドレス"></input>
                </div>
                <div class="form-item">
                    <label for="password"></label>
                    <input type="password" name="password" required="required" placeholder="パスワード"></input>
                </div>
                <div class="button-panel">
                    <input type="submit" class="button" title="Create Account" value="作成"></input>
                </div>
            </form>
            <div class="form-footer">
                <p><a href="/">既存アカウントでログイン</a></p>
            </div>
        </div>
    </div>
</body>

</html>