<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ウェブゲーム(仮)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
</head>

<body>
    <header>
        <h1>
            <a href="/menu/">ウェブゲーム(仮)</a>
        </h1>
        <nav class="pc-nav">
            <ul>
                <li>
                    ニックネーム
                </li>
                <li><a href="/">【ログアウト】</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-visual">

    </div>
</body>

</html>