<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ウェブゲーム(仮)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
</head>

<body>
    <header>
        <h1>
            <a href="/menu/">ウェブゲーム(仮)</a>
        </h1>
        <nav class="pc-nav">
            <ul>
                <li>
                    {{name}}
                </li>
                <li><a href="/">【ログアウト】</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-visual">
        <a href="#" class="button-brain">脳トレゲーム(仮)</a>
        <a href="#" class="button-babanuki">ババ抜き(仮)</a>
        <div class="point">
            <h3 class="text-point">ポイント</h3>
            <div class="box-point">{{point}}</div>
        </div>
    </div>
</body>

</html>